body {
  margin: 0;
  /* background-color: rgb(216, 25, 90); */
}

.navbar {
  position: fixed;
  z-index: 1000;

  background: #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-top: 5rem;
  max-width: 300px;
  border-radius: 0px 90% 90% 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  clip-path: circle(30px at 45px 45px);
}

.nav-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 45px;
  left: 45px;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-icon .line {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}

.nav-icon .line:nth-child(2) {
  width: 80%;
  margin: 7px 0;
  align-self: flex-start;
}
a{
  text-decoration: none;
  transition: 0.5s;
}
.menu {
  list-style: none;


}

.item {
  margin: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;

  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  transform: translateY(-15px) scale(2);
  transform-origin: center center;
  opacity: 0;



}
/* .item:hover{
  text-decoration: underline overline;

} */
a:hover{
  text-decoration: underline overline;
  color: white;
}
//////
.border-0 {
	border:0;
}

.width-100 {
	width:100%;
}
.modal-dialog{
  font-family: 'Pacifico', cursive;
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.middle{
  font-family: 'Pacifico', cursive;
  z-index: 999;
  font-size: 200px;
  position: fixed;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }
}
------------------
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-position: center center;
  background-size: cover;
  transition: 0.4s ease;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  /* z-index: -1; */
}

.slider-container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 70vh;
  width: 70vw;
  position: relative;
  overflow: hidden;
}

.slide {
  opacity: 0;
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: -15vh;
  left: -15vw;
  transition: 0.4s ease;
  z-index: 1;
}

.slide.active {
  opacity: 1;
}

.arrow {
  position: fixed;
  background-color: transparent;
  padding: 20px;

  font-size: 30px;
  color: #fff;
  border: 2px solid orange;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.arrow:focus {
  outline: 0;
}

.left-arrow {
  left: calc(15vw - 65px);
}

.right-arrow {
  right: calc(15vw - 65px);
}
.footer{

  border-radius:.25em;
  color: white;
  font-size:50px;
  box-sizing:border-box;
  width:100vw;
  left:50%;
  padding:40px;
  position:fixed;
  text-align:center;
  top:90%;
  transform:translate(-50%, -50%);
}
.activel {
  text-decoration:underline;

  color: #fff;

  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
